{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <title>Todo List</title>
    <style>
        .mx-10 {
            margin: 0px 10px;
        }
        .item-space {
            padding: 4px 10px;
        }
    </style>
</head>
<body>
    <div>
        <a href="{% url 'todo_create' %}">Add Todo</a>
    <div>
    <hr>
    <form id="filterForm">
        <input type="search" name="search" id="search" placeholder="Filter the results by name" value="{{ request.GET.search }}">
        <select name="status" id="status">
            <option value="all" {% if request.GET.status == 'all' %} selected {% endif %}>All</option>
            <option value="completed" {% if not request.GET.status == 'all' and not request.GET.status == 'non_completed' %} selected {% endif %}>Completed</option>
            <option value="not_completed" {% if request.GET.status == 'not_completed' %} selected {% endif %}>Not Completed</option>
        </select>
    </form>
    <hr>
    <div>Number of Todos found: <span id="count">{{ todos | length }}</span></div>
    <hr>
    {% if todos %}
        <table id="todo-list">
            <thead>
                <th class="item-space">#</th>
                <th class="item-space">Name</th>
                <th class="item-space">Description</th>
                <th class="item-space">Status</th>
                <th class="item-space">Actions<th>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td class="item-space">{{ todo.id }}</td>
                        <td class="item-space">{{ todo.task_name }}</td>
                        <td class="item-space">{{ todo.task_description }}</td>
                        <td class="item-space">
                            {% if todo.is_completed %}
                                Complete
                            {% else %}
                                Not Complete
                            {% endif %}
                        </td>
                        <td class="item-space">
                            <a href="{% url 'todo_edit' todo.id %}">Edit</a>
                            <span class="mx-10">|</span>
                            <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <p id="no-item-text" style="display: none;">No Todo found...</p>
</body>
</html>